.App {
}

.App-logo {
    height: 1.5%;
}

.App-header {
    text-align: center;
    background-color: #222;
    height: 1.8%;
    padding: .9%;
    color: white;
}

.file-path-input {
    margin-top: 1.5%;
}

.log-table {
    margin-top: 1.5%;
}

.Pagination-container {
    text-align: center;
}